* {
    margin: 0;
    font-family: Open Sans;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.nav-title {
    font-weight: 400;
    font-size: 35px
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 35px;

}

.text-primary {
    color: #FD6E0A
}

.btn-primary {
    border: 0;
    color: aliceblue;
    width: 150px;
    height: 64px;
    padding: 5px 10px;
    border-radius: 4px;
    margin-top: 50px 1220;
    background: #FD6E0A;
}

.header {
    background: #FFF8F3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.sub-title {
    font-weight: 400;
    font-size: 15px;
}

.banner-title {
    font-weight: 400;
    font-size: 55px
}

.description {
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* main section */

main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section style */
.about {
    margin-top: 130px;
    width: 1140px;
    height: 550px;
    padding: 131 156;
    text-align: center;

}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    color: #181818 font-weight: 700;
    font-size: 35px;
}

.section-description {
    color: #757575;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-container {
    display: flex;
    justify-content: space-around;



}

.about-info {
    margin-left: 50px;
    text-align: center;
    font-weight: 400;
    font-size: 20px;

}

.about.info-title {
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-size: 20px;
    font-weight: 700;
    color: #474747
}

/* what i do */
.what-i-do {
    margin-top: 130px;
}

.skill-container {
    display: flex;
    gap: 24px;
}

.skill {
    background: #FFFFFF;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    color: #181818;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    font-weight: 400;
    font-size: 16px;
    color: #757575;
}

/* Resume Style */

.resume-content {
    display: flex;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume. title {
    color: #474747;
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 10px;
}

.resume. sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;

}

.resume. description {
    color: #757575;

}
.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* contact style  */
.contact {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 100px;
}

.contact .section-title {
    text-align: left;

}
.contact input, textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}
.contact a {
    text-decoration: none;
    margin: 20px 15px;
    
    
}